$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0
}

body {
  font-family: $font-family;
  border-top: 10px solid var(--primary-color);
  background-color: var(--background);
  color: var(--text-color);
  --primary-color: #381696;
  --primary-text-color: #fff;
  --featured-bg: #493b8a;
  --featured-text: #fff;
  --secondary-color: #10072b;
  --background: #fff;
  --site-header: #000000;
  --site-footer: #000000;
  --card-bg: #fff;
  --card-bdr: #eee;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
  --line-one: #6B3074;
  --line-two: #7268A6;
  --line-three: #86A3C3;
  --line-four: #B6CEC7;
  --line-five: #D8E0BB;
}
a {
  color: var(--line-two);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
img {
  max-width: 100%;
}
.site-wrapper {
  padding: 32px;
  max-width: 1140px;
  margin: 0 auto;
  .avatar {
    img {
      border: 5px solid var(--site-header);
      padding: 5px;
      border-radius: 50%;
    }
  }
}
.navigation {
  display: flex;
  align-items: center;
  font-weight: 300;
  a {
    text-decoration: none;
    margin: 0 8px 0;
    &[aria-current] {
      color: var(--primary-color);
      font-weight: 700;
    }
    &:hover {
      color: var(--primary-color);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.site-header {
  min-width: 100px;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: .2s;
  position: fixed;
  width: 100%;
  background: var(--site-header);
  z-index: 10;
  flex-direction: column;
  top: 0;
  transition: top .2s ease-in-out;
  margin-bottom: 20px;
  &-inner {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    width: 100%;
    .links {
      a {
          margin-left: 1rem;
          margin-right: 1rem;
          font-weight: 500;
          line-height: 1.6em;
          text-decoration: none;
          font-size: 1.16rem;
          color: var(--primary-text-color);
      }
    }
    .mobile-open-menu {
      font-size: 1.16rem;
      display: none;
      color: var(--primary-text-color);
      &:hover {
        color: var(--primary-text-color);
      }
    }
    @media (max-width: 840px) {
      .links {
        display: none;
      }
      .svg-inline--fa.fa-w-14 {
        width: 4.875em;
      }
      .mobile-open-menu {
        display: inline;
      }
    }
    .overlay-container {
      z-index: 98;
      cursor: pointer;
      background: var(--site-header);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 0%;
      width: 100%;
      transition: height .2s ease-out;
      transition: padding-top .2s ease-out;
      overflow: hidden;
      &.visible {
        height: 100%!important;
        color: var(--featured-text);
        padding: 3em;
      }
      div {
        font-size: 2em;
        margin-bottom: .75em;
        cursor: pointer;
        font-weight: 300;
      }
      .mobile-nav-item {
        a {
          color: var(--primary-text-color)!important;
          cursor: pointer;
          text-decoration: none;
          font-weight: 400!important;
        }
      }
    }


  }
  .retro-bars {
    width: 100%;
    div {
      height: .5rem;
    }
    .line-one {
      background-color: var(--line-one);
    }
    .line-two {
      background-color: var(--line-two);
    }
    .line-three {
      background-color: var(--line-three);
    }
    .line-four {
      background-color: var(--line-four);
    }
    .line-five {
      background-color: var(--line-five);
    }
  }
}
.site-title {
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0;
    img {
      max-width: 25px;
      margin: 0;
    }
    p {
      color: inherit;
      margin: 0 0 0 .5rem;
    }
  }
  a {
    color: var(--featured-text);
    text-decoration: none;
    font-weight: 900;
    line-height: 1.6em;
    font-size: 1.16rem;
    text-transform: uppercase;
  }
 }
.hero-header {
  padding: 0 0 64px;
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-top: 90px;
  .description {
    width: 78%
  }
  .avatar {
    width: 30%;
    text-align: center;
  }
}
.headline {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.highlight {
  background: var(--line-three);
  padding: 5px;
  color: var(--site-header);
}
.button {
  padding: 18px 27px;
  display: inline-block;
  background: var(--btn-bg);
  border: 1px solid var(--btn-bdr);
  border-radius: 9px;
  text-decoration: none;
  color: var(--btn-text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;
  &.-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-text-color);
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }
  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text-color);
  }
}
.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  font-weight: 300;
}
.post {
  padding: 0;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }

}
.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: var(--featured-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
  }
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}
.card {
  display: grid;
  background-color: var(--card-bg);
  border-radius: 9px;
  border: 1px solid var(--card-bdr);
  box-shadow: 0 0 30px var(--card-shadow);
  overflow: hidden;
  line-height: 1.5;
  &:hover .post-link {
    color: var(--primary-color);
  }
  > a img {
    display: block;
  }
  > header {
    padding: 24px;
  }
  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }
  .post-title {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  .post-meta {
    font-weight: 100;
    margin-bottom: 0;
  }
  .post-link {
    color: var(--text-color);
    text-decoration: none;
  }
}
.post-meta {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
}
main {
  width: 100%;
  padding-right: 1.45rem;
  padding-left: 1.45rem;
  margin-right: auto;
  margin-left: auto;
}
.articles, .tags {
  min-height: 22.25rem;
}
.article-title {
  font-size: 1.5rem;
}
.post-list-item {
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 0.6rem;
  }

  .article-meta {
    font-size: 1.25rem;
    color: var(--theme-ui-colors-secondary,#5f6c80);
    margin-top: 0.25rem;
  }
}

@media (min-width: 768px) {
  main {
      max-width: 720px;
  }
}
footer {
  text-align: center;
  color: var(--line-five);;
  display: block;
  h3, p {
    margin: 0 0 1rem 0;
    white-space: pre-wrap;
    text-align: center;
  }
  &.contact {
    text-align: center;
    color: var(--background);
    background: var(--site-footer);
    a {
      font-weight: 700;
    }
    .contact-container {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      grid-template-rows: auto;
      padding-top: 5rem;
      padding-bottom: 5rem;
      margin-left: 30rem;
      margin-right: 30rem;
      .web {
        a {
          margin-right: 0.5rem;
        }
      }
    }
    @media only screen and (max-width: 850px) {
      .contact-container {
        margin-left: 0rem;
        margin-right: 0rem;
      }
    }
  }
  &.opensource {
    background: var(--line-one);
    p {
      margin: 0;
      color: var(--primary-text-color);
    }
    a {
      color: var(--line-four);
    }
  }
}
.form-container {
  background-color: var(--contact-bg);
  padding: 32px;
  border: 1px solid var(--contact-bdr);
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid var(--card-shadow);
    color: var(--text-secondary-color);
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
    font-family: $font-family;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen
and (min-width: 768px) {
.grids {
  grid-template-columns: 1fr 1fr;
}
}
@media only screen
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}


// theme-changer
.theme-changer {
  display: none;
}
body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}
@media only screen and (max-width: 850px) {
  /* For mobile phones: */
  .hero-header {
    padding: 0 0 64px;
    max-width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    .description, .avatar {
      width: 100%;
    }
    .headline {
      margin-top: 7rem;
      text-align: left;
    }
  }
  .avatar {
    display: block;
    margin: auto;
    margin-top: 40px;
  }
  .primary-content {
    font-size: 18px;
    width: 100%;
    margin-bottom: 32px;
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
  }
  .postTitle {
    text-align: center;
  }
  .articles {
    margin-top: 5rem;
  }
}
div.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--background);
  z-index: 1031;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  transition: all .35s;

  cursor: pointer;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  a {
    text-shadow: -1px 2px var(--color-secondary);

    pointer-events: all;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}
